<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>5/3/1 planner</title>
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/AngularLocalStorage/angular-local-storage.min.js"></script>
    <script src="~/Scripts/JQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Design/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/IdentifierGenerator.js"></script>
    <script src="~/Scripts/Controllers/531Controller.js"></script>
    <link rel="stylesheet" href="~/Design/site.css" />
    <link rel="stylesheet" href="~/Design/Bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<body>
    <div class="page-header">
        <div id="header"></div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
